Repository godotengine/godot-website, pull requests merged in 2020-06, with the labels that each got.

#139 Apply the theme's line height change to ordered lists
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme

#143 Fix Steam and itch.io download cards being unreadable when hovered
  themes/godotengine/assets/css/main.css
Labels: bug, topic:theme

#144 Decrease the vertical margin for the version overview on Download page
  themes/godotengine/layouts/download.htm
Labels: enhancement, topic:theme

#147 Use a text link for the asset library navbar link instead of an icon
  themes/godotengine/assets/asset_lib.svg
  themes/godotengine/assets/css/main.css
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:theme

#138 Adding section about XR support to features
  themes/godotengine/assets/features/xrsupport.jpg
  themes/godotengine/layouts/features.htm
Labels: enhancement, topic:content

#137 Tweak the text about headless versus server builds on the Download page
  themes/godotengine/pages/download/server.htm
Labels: enhancement, topic:content

#136 Use standard case for headings instead of uppercase
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/download.htm
  themes/godotengine/layouts/events.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/src/scss/main.scss
Labels: enhancement, topic:theme

#149 Fixed text on the downloads page's 'Extras' section turning white on hover
  themes/godotengine/assets/css/main.css
Labels: bug, topic:theme

#150 Add privacy policy, drafted with Conservancy
  themes/godotengine/layouts/more.htm
  themes/godotengine/pages/privacy-policy.htm
  themes/godotengine/partials/footer.htm
Labels: enhancement, topic:content

#151 Don't capitalize page titles automatically
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme
