Repository godotengine/godot-website, pull requests merged in 2021-03, with the labels that each got.

#293 Add a search box for articles
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/news.htm
Labels: enhancement, topic:theme

#294 Prevent line breaks between "Godot" and "Engine"
  themes/godotengine/layouts/home.htm
  themes/godotengine/pages/contact.htm
  themes/godotengine/pages/donate.htm
  themes/godotengine/pages/events/past.htm
  themes/godotengine/pages/license.htm
  themes/godotengine/pages/showcase/pixelorama.htm
Labels: enhancement, topic:content

#295 Link feature tiles on the homepage to sections on the Features page
  themes/godotengine/layouts/home.htm
Labels: enhancement, topic:theme

#296 Fix home graphic overflowing the viewport on mobile in desktop mode
  themes/godotengine/layouts/home.htm
Labels: bug, topic:theme

#297 Improve pagination appearance
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/news.htm
Labels: enhancement, topic:theme

#298 Improve pagination display logic for news articles
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/news.htm
Labels: enhancement, topic:theme

#299 Display pagination both at the top and bottom of the News page
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/news.htm
  themes/godotengine/partials/pagination.htm
Labels: enhancement, topic:theme

#300 Add interview quotes for Hive Time, Primal Light and Human Diaspora
  themes/godotengine/pages/showcase/hive-time.htm
  themes/godotengine/pages/showcase/human-diaspora.htm
  themes/godotengine/pages/showcase/primal-light.htm
Labels: enhancement, topic:content

#302 Add a dropdown menu for the More link in the navigation bar
  themes/godotengine/assets/css/main.css
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:theme

#303 Remove unused and obsolete deployment setup
  .gitignore
  README.md
  themes/godotengine/deploy.js
  themes/godotengine/example_conf.json
Labels: enhancement, topic:theme

#304 Add a warning for logged in users when viewing an unpublished article
  themes/godotengine/layouts/article.htm
Labels: enhancement, topic:theme

#301 Improve date display for news articles
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/news.htm
Labels: enhancement, topic:theme

#305 Make the news search button blue on the light theme
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme

#292 Add a Press Kit page with logos, icons, naming and usage guidelines
  themes/godotengine/assets/press/icon_color.png
  themes/godotengine/assets/press/icon_color.svg
  themes/godotengine/assets/press/icon_color_outline.png
  themes/godotengine/assets/press/icon_color_outline.svg
  themes/godotengine/assets/press/icon_monochrome_dark.png
  themes/godotengine/assets/press/icon_monochrome_dark.svg
  themes/godotengine/assets/press/icon_monochrome_light.png
  themes/godotengine/assets/press/icon_monochrome_light.svg
  themes/godotengine/assets/press/logo_large_color_dark.png
  themes/godotengine/assets/press/logo_large_color_dark.svg
  themes/godotengine/assets/press/logo_large_color_light.png
  themes/godotengine/assets/press/logo_large_color_light.svg
  themes/godotengine/assets/press/logo_large_monochrome_dark.png
  themes/godotengine/assets/press/logo_large_monochrome_dark.svg
  themes/godotengine/assets/press/logo_large_monochrome_light.png
  themes/godotengine/assets/press/logo_large_monochrome_light.svg
  themes/godotengine/assets/press/logo_small_color_dark.png
  themes/godotengine/assets/press/logo_small_color_dark.svg
  themes/godotengine/assets/press/logo_small_color_light.png
  themes/godotengine/assets/press/logo_small_color_light.svg
  themes/godotengine/assets/press/logo_small_monochrome_dark.png
  themes/godotengine/assets/press/logo_small_monochrome_dark.svg
  themes/godotengine/assets/press/logo_small_monochrome_light.png
  themes/godotengine/assets/press/logo_small_monochrome_light.svg
  themes/godotengine/assets/press/logo_vertical_color_dark.png
  themes/godotengine/assets/press/logo_vertical_color_dark.svg
  themes/godotengine/assets/press/logo_vertical_color_light.png
  themes/godotengine/assets/press/logo_vertical_color_light.svg
  themes/godotengine/assets/press/logo_vertical_monochrome_dark.png
  themes/godotengine/assets/press/logo_vertical_monochrome_dark.svg
  themes/godotengine/assets/press/logo_vertical_monochrome_light.png
  themes/godotengine/assets/press/logo_vertical_monochrome_light.svg
  themes/godotengine/layouts/more.htm
  themes/godotengine/pages/press.htm
  themes/godotengine/partials/footer.htm
Labels: enhancement, topic:content

#307 Prevent WW3 from starting in the Godot community ;)
  themes/godotengine/pages/press.htm
Labels: enhancement

#275 Features: Remove Perforce and PlasticSCM as they're seldom tested
  themes/godotengine/layouts/features.htm
Labels: enhancement, topic:content

#309 Add GET parameters to static file links for cache busting
  themes/godotengine/layouts/article.htm
  themes/godotengine/pages/user-groups.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/head.htm
Labels: bug, topic:theme

#312 Add Godot Engine Russia user group
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#311 CoC team: Add mentions of Contributors Chat handles, remove IRC
  themes/godotengine/pages/code-of-conduct.htm
Labels: enhancement, topic:content
