Repository godotengine/godot-website, pull requests merged in 2021-02, with the labels that each got.

#281 Privacy policy: Remove redundant blanket statement about third party services
  themes/godotengine/pages/privacy-policy.htm
Labels: enhancement

#280 Add Godot Contributors Chat to the Community page
  themes/godotengine/assets/community/icon_godot_contributors_chat.png
  themes/godotengine/pages/community.htm
Labels: enhancement, topic:content

#285 Fix Barba.js not taking external Godot websites into account
  themes/godotengine/layouts/download.htm
  themes/godotengine/pages/community.htm
  themes/godotengine/pages/privacy-policy.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/header.htm
Labels: bug, topic:theme

#283 Fix Open Graph image meta tag on articles
  themes/godotengine/partials/head.htm
Labels: bug, topic:theme

#288 Fix hover/focus button outlines on the Download page
  themes/godotengine/layouts/download.htm
Labels: bug, topic:theme

#289 Fix video height in articles
  themes/godotengine/layouts/article.htm
Labels: bug, topic:theme
