Repository godotengine/godot-website, pull requests merged in 2021-01, with the labels that each got.

#221 Remove reference to non-existent locally hosted Tween.js
  plugins/paulvonzimmerman/patreon/components/Goal.php
Labels: bug, topic:theme

#220 Increase the number of blog posts per page to 25
  themes/godotengine/pages/devblog.htm
  themes/godotengine/pages/news.htm
Labels: enhancement, topic:theme

#222 Replace instant.page with Barba.js for faster subsequent page loads
  themes/godotengine/assets/js/barba.min.js
  themes/godotengine/assets/js/instantpage.min.js
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/default.htm
  themes/godotengine/layouts/download.htm
  themes/godotengine/layouts/events.htm
  themes/godotengine/layouts/features.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/layouts/more.htm
  themes/godotengine/layouts/news.htm
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/pages/community.htm
  themes/godotengine/pages/privacy-policy.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:theme

#218 Add a dark theme for the website, overhaul usability and accessibility
  themes/godotengine/assets/css/main.css
  themes/godotengine/assets/logo_dark.svg
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/download.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/layouts/news.htm
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/pages/showcase.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:theme

#225 Update copyright statements to 2021
  LICENSE.txt
  themes/godotengine/pages/license.htm
  themes/godotengine/partials/footer.htm
Labels: enhancement, topic:content

#224 Fix the focus outline being displayed below Download/More tabs
  themes/godotengine/assets/css/main.css
Labels: bug, topic:theme

#223 Add CSS gradient placeholders to all static images
  themes/godotengine/layouts/features.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/pages/community.htm
  themes/godotengine/partials/showcase/list-item.htm
Labels: enhancement, topic:theme

#226 Fix and improve showcase card styles
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/pages/showcase.htm
  themes/godotengine/partials/showcase/list-item.htm
Labels: bug, enhancement, topic:theme

#227 Add CSS gradient placeholders for all showcase images
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/pages/showcase.htm
  themes/godotengine/pages/showcase/city-game-studio.htm
  themes/godotengine/pages/showcase/delta-v-rings-of-saturn.htm
  themes/godotengine/pages/showcase/dungeondraft.htm
  themes/godotengine/pages/showcase/ex-zodiac.htm
  themes/godotengine/pages/showcase/gravity-ace.htm
  themes/godotengine/pages/showcase/haiki.htm
  themes/godotengine/pages/showcase/hive-time.htm
  themes/godotengine/pages/showcase/human-diaspora.htm
  themes/godotengine/pages/showcase/kingdoms-of-the-dump.htm
  themes/godotengine/pages/showcase/material-maker.htm
  themes/godotengine/pages/showcase/pixelorama.htm
  themes/godotengine/pages/showcase/precipice.htm
  themes/godotengine/pages/showcase/primal-light.htm
  themes/godotengine/pages/showcase/resolutiion.htm
  themes/godotengine/pages/showcase/rogue-state-revolution.htm
  themes/godotengine/pages/showcase/rpg-in-a-box.htm
  themes/godotengine/pages/showcase/the-garden-path.htm
  themes/godotengine/pages/showcase/until-then.htm
  themes/godotengine/partials/showcase/list-item.htm
Labels: enhancement, topic:theme

#228 Try to fix Barba.js reloading the same page instead of loading the link
  themes/godotengine/partials/footer.htm
Labels: bug, topic:theme

#230 Decrease the height of the homepage hero image on narrower displays
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme

#232 Add image lightbox functionality using Tobii
  themes/godotengine/assets/css/tobii.min.css
  themes/godotengine/assets/js/tobii.min.js
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/features.htm
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/head.htm
  themes/godotengine/partials/showcase/list-item.htm
Labels: enhancement, topic:theme

#233 Optimize PNG images using `oxipng --strip --zopfli`
  themes/godotengine/assets/community/become_a_patron_button.png
  themes/godotengine/assets/community/icon_matrix.png
  themes/godotengine/assets/community/icon_steam.png
  themes/godotengine/assets/download/dl_icon_github.png
  themes/godotengine/assets/download/steam.png
  themes/godotengine/assets/favicon.png
  themes/godotengine/assets/home/sponsors/asifa-hollywood.png
  themes/godotengine/assets/home/sponsors/gamblify.png
  themes/godotengine/assets/home/sponsors/heroiclabs.png
  themes/godotengine/assets/home/sponsors/moonwards.png
  themes/godotengine/assets/home/sponsors/spiffcode.png
  themes/godotengine/assets/home/sponsors/zenva-academy.png
Labels: enhancement, topic:content, topic:theme

#236 Decrease the font weight for inline code
  themes/godotengine/layouts/article.htm
Labels: enhancement, topic:theme

#238 Update highlight.js to 10.5.0
  themes/godotengine/assets/js/highlight.min.js
Labels: enhancement, topic:theme

#234 Add a dedicated OpenGraph image for website embeds
  themes/godotengine/assets/og_image.png
  themes/godotengine/pages/contact.htm
  themes/godotengine/partials/head.htm
Labels: enhancement, topic:theme

#237 Consolidate the main and web fonts CSS
  themes/godotengine/assets/css/main.css
  themes/godotengine/assets/fonts/fonts.css
  themes/godotengine/partials/head.htm
Labels: enhancement, topic:theme

#239 Smooth out `filter` changes using a CSS transition
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme

#241 Fix the link underline color on dark theme
  themes/godotengine/assets/css/main.css
Labels: bug, topic:theme

#240 Link to the website source repository in the footer
  themes/godotengine/partials/footer.htm
Labels: enhancement, topic:content

#242 Mention that the Server download is only for Linux
  themes/godotengine/layouts/download.htm
  themes/godotengine/pages/download/server.htm
  themes/godotengine/pages/download/windows.htm
Labels: enhancement, topic:content

#243 Preload fonts to improve loading performance
  themes/godotengine/partials/head.htm
Labels: enhancement, topic:theme

#244 Use lazy loading for images on Home, Features and Community
  themes/godotengine/layouts/download.htm
  themes/godotengine/layouts/features.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/pages/community.htm
Labels: enhancement, topic:theme

#246 Add October CacheRoute plugin to speed up page loading
  plugins/serenitynow/cacheroute/Plugin.php
  plugins/serenitynow/cacheroute/README.md
  plugins/serenitynow/cacheroute/classes/RouteCacheMiddleware.php
  plugins/serenitynow/cacheroute/controllers/CacheRoutes.php
  plugins/serenitynow/cacheroute/controllers/cacheroutes/_list_toolbar.htm
  plugins/serenitynow/cacheroute/controllers/cacheroutes/_reorder_toolbar.htm
  plugins/serenitynow/cacheroute/controllers/cacheroutes/config_form.yaml
  plugins/serenitynow/cacheroute/controllers/cacheroutes/config_list.yaml
  plugins/serenitynow/cacheroute/controllers/cacheroutes/config_reorder.yaml
  plugins/serenitynow/cacheroute/controllers/cacheroutes/create.htm
  plugins/serenitynow/cacheroute/controllers/cacheroutes/index.htm
  plugins/serenitynow/cacheroute/controllers/cacheroutes/preview.htm
  plugins/serenitynow/cacheroute/controllers/cacheroutes/reorder.htm
  plugins/serenitynow/cacheroute/controllers/cacheroutes/update.htm
  plugins/serenitynow/cacheroute/lang/en/lang.php
  plugins/serenitynow/cacheroute/models/CacheRoute.php
  plugins/serenitynow/cacheroute/models/cacheroute/columns.yaml
  plugins/serenitynow/cacheroute/models/cacheroute/fields.yaml
  plugins/serenitynow/cacheroute/plugin.yaml
  plugins/serenitynow/cacheroute/updates/builder_table_create_serenitynow_cacheroute_routes.php
  plugins/serenitynow/cacheroute/updates/builder_table_update_serenitynow_cacheroute_routes.php
  plugins/serenitynow/cacheroute/updates/version.yaml
Labels: enhancement, topic:backend

#248 Fix more layout shifts during page loading by specifying image sizes
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:theme

#249 Improve mobile navigation button interactivity
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme

#247 Set up continuous integration using GitHub Actions
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  docker/mariadb/bash.sh
  docker/mariadb/log.sh
  docker/mariadb/mysql.sh
  docker/php/bash.sh
  docker/php/install-plugin.sh
  docker/php/log.sh
  docker/restart.sh
  lighthouserc.js
Labels: enhancement

#250 GitHub Actions: Tweak Lighthouse thresholds to be stricter
  lighthouserc.js
Labels: enhancement

#252 Add a CSS linting and formatting setup using Stylelint + Prettier
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  ISSUE_TEMPLATE.md
  README.md
  docker/docker-compose.yml
  lighthouserc.js
  package-lock.json
  package.json
  themes/godotengine/assets/css/main.css
  themes/godotengine/deploy.js
  themes/godotengine/theme.yaml
Labels: enhancement, topic:theme

#253 Add developer quotes for the first two showcase interviews
  themes/godotengine/pages/showcase/resolutiion.htm
  themes/godotengine/pages/showcase/rogue-state-revolution.htm
Labels: enhancement, topic:content

#254 Update brew command for OSX download page
  themes/godotengine/pages/download/osx.htm
Labels: enhancement, topic:content

#201 Add a community map on the User groups page
  themes/godotengine/assets/leaflet/images/layers-2x.png
  themes/godotengine/assets/leaflet/images/layers.png
  themes/godotengine/assets/leaflet/images/marker-icon-2x.png
  themes/godotengine/assets/leaflet/images/marker-icon.png
  themes/godotengine/assets/leaflet/images/marker-shadow.png
  themes/godotengine/assets/leaflet/images/physical-marker-icon-2x.png
  themes/godotengine/assets/leaflet/images/physical-marker-icon.png
  themes/godotengine/assets/leaflet/leaflet.css
  themes/godotengine/assets/leaflet/leaflet.js
  themes/godotengine/assets/leaflet/leaflet.js.map
  themes/godotengine/pages/community.htm
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#255 Ignore third-party Leaflet.js files in Prettier
  .prettierignore
Labels: bug, topic:content

#256 Add the Godot Toronto user group to the community map
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#260 Limit zoom levels to reasonable values on the community map
  themes/godotengine/pages/user-groups.htm
Labels: bug, topic:theme

#261 Lower Lighthouse CI score threshold to make CI pass
  lighthouserc.js
Labels: bug

#257 Add cz/sk community to the map
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#262 Add Godot Engine Türkiye user group to the community map
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#258 Add Croatia user group to the community map
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#251 Remove link to Better Collada exporter as it's unmaintained
  themes/godotengine/layouts/download.htm
Labels: enhancement, topic:content

#264 Adjust Russia's coordinates in User Groups
  themes/godotengine/pages/user-groups.htm
Labels: bug, topic:content

#263 Add a fixed banner for GodotCon 2021
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:content

#266 Privacy policy: Add Godot Chat platform
  themes/godotengine/pages/privacy-policy.htm
Labels: enhancement, topic:content

#267 Change Mapbox tile server to OSM
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:theme

#268 Add bounds pan control, change set method to options
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:theme

#270 Add Discord and website to Godot Germany user group
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#271 Add Godot Egypt user group
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content

#272 Revert "Add a fixed banner for GodotCon 2021"
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:content

#278 Add a legend to the homepage's background image
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/home.htm
Labels: enhancement, topic:theme

#276 Add Chinese Community on community map.
  themes/godotengine/pages/user-groups.htm
Labels: enhancement, topic:content
