Repository godotengine/godot-website, pull requests merged in 2022-11, with the labels that each got.

#447 adjusts article image sizing to be the same width as content
  themes/godotengine/layouts/article.htm
Labels: enhancement, topic:theme

#446 Change documentation URLs on Features page to point to stable branch
  themes/godotengine/pages/features.htm
  themes/godotengine/pages/governance.htm
  themes/godotengine/pages/license.htm
Labels: bug, topic:content

#454 Add Striked as a Silver sponsor
  themes/godotengine/assets/css/main.css
  themes/godotengine/assets/home/sponsors/striked.png
  themes/godotengine/layouts/home.htm
Labels: enhancement, topic:content

#455 Make styling of news tags more consistent
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/news.htm
  themes/godotengine/partials/head.htm
Labels: enhancement, topic:theme

#457 Add link to Mastodon account in `<head>` to verify it
  themes/godotengine/partials/head.htm
Labels: enhancement, topic:theme

#450 Showcase: Primal Light is releasing on Switch
  themes/godotengine/pages/showcase.htm
  themes/godotengine/pages/showcase/primal-light.htm
Labels: enhancement, topic:content

#462 Add Mastodon and replace old images
  themes/godotengine/assets/community/icon_facebook.png
  themes/godotengine/assets/community/icon_irc.png
  themes/godotengine/assets/community/icon_mastodon.png
  themes/godotengine/assets/community/icon_matrix.png
  themes/godotengine/assets/community/icon_reddit.png
  themes/godotengine/assets/community/icon_youtube.png
  themes/godotengine/pages/community.htm
Labels: enhancement, topic:content

#463 Update Striked logo to the latest version
  themes/godotengine/assets/home/sponsors/striked.png
  themes/godotengine/layouts/home.htm
Labels: enhancement

#465 Adding Beat Invaders page
  themes/godotengine/assets/showcase/beat-invaders.jpg
  themes/godotengine/pages/showcase.htm
  themes/godotengine/pages/showcase/beat-invaders.htm
  themes/godotengine/pages/showcase/cruelty-squad.htm
Labels: enhancement, topic:content

#464 Improve the look and feel of Events, update details
  lighthouserc.js
  themes/godotengine/layouts/events.htm
  themes/godotengine/pages/community.htm
  themes/godotengine/pages/events.htm
  themes/godotengine/pages/events/past.htm
  themes/godotengine/partials/footer.htm
Labels: enhancement, topic:theme, topic:content

#460 Update `security.txt` expiration date
  .well-known/security.txt
Labels: bug, topic:content

#461 Scheduled task security.txt reminder
  .github/workflows/reminder.yml
Labels: enhancement

#466 Fix formatting for extras blocks on the Community page
  themes/godotengine/pages/community.htm
Labels: bug, topic:theme

#470 Update the icon for Godot Forums
  themes/godotengine/assets/community/icon_forum.png
Labels: enhancement, topic:theme

#471 Fix styling of buttons and separators, remove unused styles
  themes/godotengine/assets/css/main.css
  themes/godotengine/layouts/download.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/pages/download/android.htm
  themes/godotengine/pages/download/linux.htm
  themes/godotengine/pages/download/osx.htm
  themes/godotengine/pages/download/server.htm
  themes/godotengine/pages/download/windows.htm
  themes/godotengine/pages/features.htm
Labels: bug, enhancement, topic:theme

#472 Replace hardcoded meta links with dynamic ones
  themes/godotengine/partials/head.htm
Labels: enhancement, topic:theme

#473 Update address for matrix room
  themes/godotengine/pages/community.htm
Labels: bug, topic:content

#468 Updating news to display articles on a grid
  themes/godotengine/assets/css/main.css
  themes/godotengine/assets/default_avatar.svg
  themes/godotengine/layouts/news.htm
  themes/godotengine/pages/news.htm
Labels: enhancement, topic:theme
