Repository godotengine/godot-website, pull requests merged in 2022-12, with the labels that each got.

#474 Add Pingo Adventure to the games showcase
  themes/godotengine/assets/showcase/pingo-adventure.jpg
  themes/godotengine/pages/showcase.htm
  themes/godotengine/pages/showcase/ex-zodiac.htm
  themes/godotengine/pages/showcase/kingdoms-of-the-dump.htm
  themes/godotengine/pages/showcase/pingo-adventure.htm
  themes/godotengine/pages/showcase/the-garden-path.htm
Labels: enhancement, topic:content

#476 Add a custom utility plugin
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  docker/docker-compose.yml
  docker/php/init/init.sh
  plugins/godotengine/utility/Plugin.php
  plugins/godotengine/utility/composer.json
  plugins/godotengine/utility/console/Ping.php
Labels: enhancement, topic:backend

#477 Adding dome keeper
  themes/godotengine/assets/css/main.css
  themes/godotengine/assets/home/hero/beat-invaders.jpg
  themes/godotengine/assets/home/hero/ex-zodiac.png
  themes/godotengine/assets/showcase/dome-keeper.jpg
  themes/godotengine/layouts/home.htm
  themes/godotengine/pages/showcase.htm
  themes/godotengine/pages/showcase/dome-keeper.htm
  themes/godotengine/partials/footer.htm
  themes/godotengine/partials/header.htm
Labels: enhancement, topic:content

#479 Adjust patron link box
  themes/godotengine/assets/css/main.css
Labels: enhancement, topic:theme

#485 Improve performance of the parallax effect
  themes/godotengine/assets/css/main.css
  themes/godotengine/partials/footer.htm
Labels: bug, topic:theme

#486 Add button to perform system & plugins migration to the utility plugin
  .editorconfig
  .gitignore
  plugins/godotengine/utility/Plugin.php
  plugins/godotengine/utility/controllers/Utilities.php
  plugins/godotengine/utility/controllers/utilities/_index_hint.htm
  plugins/godotengine/utility/controllers/utilities/_migrate_logs.htm
  plugins/godotengine/utility/controllers/utilities/index.htm
Labels: bug, topic:backend

#482 Implement GodotEngine.I18n plugin
  .github/workflows/ci.yml
  docker/php/Dockerfile
  docker/php/init/init.sh
  plugins/godotengine/i18n/.gitignore
  plugins/godotengine/i18n/Plugin.php
  plugins/godotengine/i18n/assets/css/manage.css
  plugins/godotengine/i18n/classes/TranslationManager.php
  plugins/godotengine/i18n/classes/TwigFunctionsScanner.php
  plugins/godotengine/i18n/classes/TwigMarkupScanner.php
  plugins/godotengine/i18n/composer.json
  plugins/godotengine/i18n/composer.lock
  plugins/godotengine/i18n/controllers/Manage.php
  plugins/godotengine/i18n/controllers/manage/_cms_locales_table.htm
  plugins/godotengine/i18n/controllers/manage/_index_hint.htm
  plugins/godotengine/i18n/controllers/manage/_po_locales_table.htm
  plugins/godotengine/i18n/controllers/manage/index.htm
  plugins/godotengine/i18n/updates/version.yaml
  themes/godotengine/i18n/.gitignore
  themes/godotengine/i18n/po/messages.es.po
  themes/godotengine/i18n/po/messages.po
  themes/godotengine/i18n/po/messages.ru.po
  themes/godotengine/layouts/article.htm
  themes/godotengine/layouts/default.htm
  themes/godotengine/layouts/download.htm
  themes/godotengine/layouts/events.htm
  themes/godotengine/layouts/features.htm
  themes/godotengine/layouts/home.htm
  themes/godotengine/layouts/more-standalone.htm
  themes/godotengine/layouts/more.htm
  themes/godotengine/layouts/news.htm
  themes/godotengine/layouts/showcase-item.htm
  themes/godotengine/partials/head.htm
  themes/godotengine/theme.yaml
Labels: enhancement, topic:backend, topic:theme

#489 Update the teams page
  themes/godotengine/pages/teams.htm
Labels: enhancement, topic:theme

#490 Make the Teams page mobile-friendly
  themes/godotengine/assets/css/main.css
  themes/godotengine/pages/teams.htm
  themes/godotengine/partials/head.htm
Labels: bug, enhancement, topic:theme

#493 Add Fist of the Forgotten to showcase
  themes/godotengine/assets/showcase/fist-of-the-forgotten.jpg
  themes/godotengine/pages/showcase.htm
  themes/godotengine/pages/showcase/dome-keeper.htm
  themes/godotengine/pages/showcase/fist-of-the-forgotten.htm
  themes/godotengine/pages/showcase/resolutiion.htm
  themes/godotengine/partials/footer.htm
Labels: enhancement, topic:content

#392 Add page on FBX support in Godot
  themes/godotengine/pages/fbx-import.htm
Labels: enhancement

#495 Fix the parallax effect animation frame binding
  themes/godotengine/partials/footer.htm
Labels: bug, topic:theme
