Repository godotengine/godot-website, pull requests merged in 2023-05, with the labels that each got.

#637 blog: Add "Release candidate: Godot 4.0.3 RC 2"
  collections/_article/release-candidate-godot-4-0-3-rc-2.md
  storage/blog/covers/release-candidate-godot-4-0-3-rc-2.jpg
Labels: enhancement, topic:blog

#638 Removing confusing pronunciation
  pages/press.html
Labels: discussion, topic:content

#640 Add a download page for preview builds
  .editorconfig
  .gitignore
  README.md
  _data/download_configs.yml
  _data/download_platforms.yml
  _data/versions.yml
  _includes/header.html
  _layouts/default.html
  _layouts/download-3.html
  _layouts/download.html
  _layouts/showcase-item.html
  _plugins/make_download.rb
  _plugins/outdated_article_threshold.rb
  assets/css/download.css
  assets/css/main.css
  assets/download/download-background-preview.jpg
  assets/icons/android.svg
  assets/icons/arrow-flip.svg
  assets/icons/cross.svg
  assets/icons/hamburger.svg
  assets/icons/linux-server.svg
  assets/icons/linux.svg
  assets/icons/macos.svg
  assets/icons/search.svg
  assets/icons/switch.svg
  assets/icons/windows.svg
  assets/images/platforms/android.svg
  assets/images/platforms/ios.svg
  assets/images/platforms/linux-server.svg
  assets/images/platforms/linux.svg
  assets/images/platforms/macos.svg
  assets/images/platforms/playstation.svg
  assets/images/platforms/switch.svg
  assets/images/platforms/templates.svg
  assets/images/platforms/web.svg
  assets/images/platforms/windows.svg
  assets/images/platforms/xbox.svg
  collections/_download/android.md
  collections/_download/linux.md
  collections/_download/macos.md
  collections/_download/windows.md
  collections/_download_3/android.md
  collections/_download_3/linux.md
  collections/_download_3/macos.md
  collections/_download_3/server.md
  collections/_download_3/windows.md
  pages/download/preview.html
  pages/features.html
  pages/home.html
  pages/showcase.html
Labels: enhancement, topic:content

#641 Update Godot 4 stable to 4.0.3 and add release notes
  README.md
  _data/versions.yml
  collections/_article/maintenance-release-godot-4-0-3.md
  storage/blog/covers/maintenance-release-godot-4-0-3.jpg
Labels: enhancement, topic:content, topic:blog

#643 blog: Add "Dev snapshot: Godot 3.6 beta 2"
  collections/_article/dev-snapshot-godot-3-6-beta-1.md
  collections/_article/dev-snapshot-godot-3-6-beta-2.md
  storage/blog/covers/dev-snapshot-godot-3-6-beta-2.jpg
Labels: enhancement, topic:blog

#645 Release 4.1 dev 3 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-1-dev-3.md
  storage/blog/covers/dev-snapshot-godot-4-1-dev-3.jpg
Labels: topic:content, topic:blog

#646 Update start time for Godot sprint 2023
  collections/_event/godotmeetup-2023.md
  collections/_event/godotsprint-2023.md
Labels: enhancement, topic:content
