Repository godotengine/godot-website, pull requests merged in 2023-11, with the labels that each got.

#744 Remove QbieShay/Ilaria Cislaghi from conduct and board
  pages/code-of-conduct.html
  pages/governance.html
Labels: topic:content

#745 Release Godot 4.1.3 stable and publish release notes
  _data/versions.yml
  collections/_article/maintenance-release-godot-4-1-2.md
  collections/_article/maintenance-release-godot-4-1-3.md
  storage/blog/covers/maintenance-release-godot-4-1-3.webp
Labels: topic:content, topic:blog

#747 Release Godot 4.2 beta 5 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-beta-5.md
  storage/blog/covers/dev-snapshot-godot-4-2-beta-5.webp
Labels: topic:content, topic:blog

#748 Add support for download config overrides
  _data/download_configs.yml
  _data/download_platforms.yml
  _plugins/make_download.rb
Labels: bug, enhancement, topic:backend

#749 Update docs team members
  pages/teams.html
Labels: enhancement, topic:content

#751 Release Godot 4.2 beta 6 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-beta-6.md
  storage/blog/covers/dev-snapshot-godot-4-2-beta-6.webp
Labels: enhancement, topic:blog

#750 README editing pass
  README.md
Labels: enhancement

#752 Add Godot Québec Discord to usergroups
  _data/communities.yml
Labels: enhancement, topic:content

#753 Release Godot 4.2 RC 1 and publish release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-2-rc-1.md
  storage/blog/covers/release-candidate-godot-4-2-rc-1.webp
Labels: enhancement, topic:content, topic:blog

#755 Add showreel 2023 submissions open blogpost
  collections/_article/submissions-open-godot-2023-showreel.md
  storage/blog/covers/godot-showreel-2023.webp
Labels: topic:blog

#756 Update privacy policy
  pages/privacy-policy.html
Labels: enhancement, topic:content

#757 Release Godot 4.2 RC 2 and publish release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-2-rc-2.md
  storage/blog/covers/release-candidate-godot-4-2-rc-2.webp
Labels: enhancement, topic:blog

#759 Mark GodotCon event as past event on Community page
  pages/community/community.html
Labels: bug, topic:content

#758 Release Godot 4.2 stable and publish release notes
  _data/versions.yml
  _layouts/article.html
  _layouts/default.html
  assets/css/article-cards.css
  assets/css/main.css
  collections/_article/godot-4-2-arrives-in-style.md
  storage/blog/covers/godot-4-2-arrives-in-style.webp
  storage/blog/godot-4-2-arrives-in-style/2d-navigation-tilemap-baking.mp4
  storage/blog/godot-4-2-arrives-in-style/3d-import-loop-and-preview-animation.mp4
  storage/blog/godot-4-2-arrives-in-style/barycentric-coordinates.mp4
  storage/blog/godot-4-2-arrives-in-style/csharp-interoperability-improvement.mp4
  storage/blog/godot-4-2-arrives-in-style/editor-3d-resizing-csg-shape-by-side.mp4
  storage/blog/godot-4-2-arrives-in-style/editor-filesystem-change-folder-color.mp4
  storage/blog/godot-4-2-arrives-in-style/editor-script-foldable-regions.mp4
  storage/blog/godot-4-2-arrives-in-style/fsr-performance-comparison.mp4
  storage/blog/godot-4-2-arrives-in-style/gpuparticles-by-passivestar.mp4
  storage/blog/godot-4-2-arrives-in-style/networking-replication-panel.mp4
  storage/blog/godot-4-2-arrives-in-style/tilemap-mirroring-tiles-and-patterns.mp4
Labels: topic:content, topic:blog
