Repository godotengine/godot-website, pull requests merged in 2023-06, with the labels that each got.

#647 Release Godot 4.1 dev 4 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-1-dev-4.md
  storage/blog/covers/dev-snapshot-godot-4-1-dev-4.jpg
Labels: topic:content, topic:blog

#650 Release Godot 4.1 beta 1 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-1-beta-1.md
  storage/blog/covers/dev-snapshot-godot-4-1-beta-1.webp
  storage/blog/godot-4-1-features/multiwindow-editor.webp
  storage/blog/godot-4-1-features/rvo-avoidance.webp
Labels: topic:content, topic:blog

#651 4.1-beta1: Add known issue for Windows AMD OpenGL crash
  collections/_article/dev-snapshot-godot-4-1-beta-1.md
Labels: enhancement, topic:blog

#653 Add Adam Scott to the production team
  pages/teams.html
Labels: topic:content

#654 Release Godot 4.1 beta 2 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-1-beta-2.md
  storage/blog/covers/dev-snapshot-godot-4-1-beta-2.webp
Labels: enhancement, topic:blog

#655 Add "Godot at BIG Festival 2023" article
  _data/authors.yml
  assets/images/authors/vnen.jpg
  collections/_article/godot-at-big-festival-2023.md
  storage/blog/covers/big-2023.webp
Labels: topic:blog

#657 Generate the mirror list based on static version data
  Gemfile.lock
  README.md
  _config.yml
  _data/download_configs.yml
  _data/mirrorlist_configs.yml
  _data/versions.yml
  _layouts/mirrorlist.json
  _plugins/make_download.rb
  _plugins/mirrorlist_generator.rb
  build-and-watch.sh
Labels: enhancement, topic:content

#658 Release Godot 4.1 beta 3 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-1-beta-3.md
  storage/blog/covers/dev-snapshot-godot-4-1-beta-3.webp
Labels: topic:content, topic:blog

#659 Add blog post for the 2023 Godot Poll
  collections/_article/godot-community-poll-2023.md
  storage/blog/covers/quiz-2023.png
Labels: topic:blog

#630 Update contact contributor list
  pages/contact.html
Labels: topic:content

#660 Publish release notes for Godot 4.1 RC 1
  collections/_article/release-candidate-godot-4-1-rc-1.md
  storage/blog/covers/release-candidate-godot-4-1-rc-1.webp
Labels: topic:blog

#661 Publish release notes for soft-released Godot 4.1 RC 2
  _data/versions.yml
  collections/_article/release-candidate-godot-4-1-rc-2.md
  storage/blog/covers/release-candidate-godot-4-1-rc-2.webp
Labels: topic:content, topic:blog
