Repository godotengine/godot-website, pull requests merged in 2023-10, with the labels that each got.

#725 Release Godot 4.2 dev 6 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-dev-6.md
  storage/blog/covers/dev-snapshot-godot-4-2-dev-5.webp
Labels: enhancement, topic:content, topic:releases, topic:blog

#726 Fix minor text issues in dev-snapshot-godot-4-2-dev-6.md
  collections/_article/dev-snapshot-godot-4-2-dev-6.md
Labels: enhancement, topic:content, topic:blog

#724 Release Godot 4.1.2 and publish release notes
  _data/versions.yml
  collections/_article/maintenance-release-godot-4-1-2.md
  storage/blog/covers/maintenance-release-godot-4-1-2.webp
Labels: topic:content, topic:blog

#728 Release 4.2 beta 1 and publish release notes
  _data/versions.yml
  _layouts/article.html
  assets/css/anchor-link.css
  collections/_article/dev-snapshot-godot-4-2-beta-1.md
  storage/blog/covers/dev-snapshot-godot-4-2-beta-1.webp
  storage/blog/godot-4-2-beta/2d-navigation-baking.mp4
  storage/blog/godot-4-2-beta/3d-viewport-decluttering.webp
  storage/blog/godot-4-2-beta/compute-shader-textures.webp
  storage/blog/godot-4-2-beta/copy-paste-clipboard-image.mp4
  storage/blog/godot-4-2-beta/import-animation-playback.mp4
  storage/blog/godot-4-2-beta/jnlm-denoiser.webp
  storage/blog/godot-4-2-beta/project-manager-layout.webp
  storage/blog/godot-4-2-beta/svg-editor-by-mewpurpur.webp
  storage/blog/godot-4-2-beta/threaded-debugger.mp4
  storage/blog/godot-4-2-beta/todo-highlighting.webp
  storage/blog/godot-4-2-beta/visual-shader-graph.webp
Labels: topic:content, topic:releases, topic:blog

#732 Rearrange official and user communities with some grouping
  pages/community/community.html
Labels: enhancement, topic:content

#737 Release Godot 4.2 beta 2 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-beta-2.md
  storage/blog/covers/dev-snapshot-godot-4-2-beta-2.webp
Labels: topic:releases, topic:blog

#740 Release Godot 4.1.3 RC 1 and publish release notes
  _data/versions.yml
  _includes/articles/prerelease_notice.html
  collections/_article/release-candidate-godot-4-1-2-rc-1.md
  collections/_article/release-candidate-godot-4-1-3-rc-1.md
  storage/blog/covers/release-candidate-godot-4-1-3-rc-1.webp
Labels: topic:content, topic:blog

#742 Use correct logo license link
  pages/press.html
Labels: bug, topic:content
