Repository godotengine/godot-website, pull requests merged in 2023-08, with the labels that each got.

#683 Add blog post for rendering priorities as of July 2023
  collections/_article/rendering-priorities-july-2023.md
  storage/blog/covers/rendering-priorities-july-2023.webp
Labels: topic:blog

#689 Release 4.2 dev3 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-dev-3.md
  storage/blog/covers/dev-snapshot-godot-4-2-dev-3.webp
Labels: topic:content, topic:blog

#669 Update Gemfile to allow installation with Ruby 3.2 and later
  Gemfile.lock
Labels: enhancement, topic:backend

#690 Release 3.6 beta3 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-3-6-beta-3.md
  storage/blog/covers/dev-snapshot-godot-3-6-beta-3.webp
Labels: enhancement, topic:content, topic:blog

#691 Add gamescom blog post, and event
  collections/_article/godot-at-gamescom-2023.md
  collections/_event/gamescom-2023.md
  storage/blog/gamescom/2023/gamescom-cover.webp
  storage/blog/gamescom/2023/gamescom-map.webp
Labels: topic:content, topic:blog

#692 Add Halls of Torment to the showcase
  assets/showcase/halls-of-torment-1.jpg
  assets/showcase/halls-of-torment-2.jpg
  assets/showcase/halls-of-torment-3.jpg
  assets/showcase/halls-of-torment-4.jpg
  assets/showcase/halls-of-torment.jpg
  collections/_showcase/halls-of-torment.md
Labels: topic:content
