Repository godotengine/godot-website, pull requests merged in 2023-09, with the labels that each got.

#695 Usagi Shima showcase post.
  assets/showcase/usagi-shima-4.webp
  assets/showcase/usagi-shima-5.webp
  assets/showcase/usagi-shima-scr03.webp
  collections/_article/godot-showcase-usagi-shima.md
  storage/blog/covers/usagi-shima.webp
Labels: topic:blog

#698 Add blog post for 4.2-dev4
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-dev-4.md
  storage/blog/covers/dev-snapshot-godot-4-2-dev-4.webp
Labels: enhancement, topic:content, topic:blog

#700 Add announcement that tickets have been sold out for GodotCon 2023
  collections/_article/godotcon-2023.md
Labels: enhancement, topic:blog

#701 Release 3.5.3 rc1 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-3-6-beta-3.md
  collections/_article/release-candidate-godot-3-5-3-rc-1.md
  storage/blog/covers/release-candidate-godot-3-5-3-rc1.webp
Labels: enhancement, topic:content, topic:blog

#702 Add community forums
  assets/community/community-forums.jpg
  pages/community/community.html
Labels: topic:content

#703 A post to officially announce the Development Fund.
  assets/css/main.css
  collections/_article/godot-developer-fund.md
  pages/donate.html
  storage/blog/covers/developer-fund.jpg
Labels: topic:blog

#706 Release Godot 4.2 dev 5 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-dev-5.md
  storage/blog/covers/dev-snapshot-godot-4-2-dev-5.webp
Labels: topic:content, topic:blog

#716 Release Godot 4.1.2 RC1 and publish release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-1-2-rc-1.md
  storage/blog/covers/release-candidate-godot-4-1-2-rc-1.webp
Labels: topic:content, topic:blog

#720 Release Godot 3.5.3 and publish release notes
  _data/versions.yml
  collections/_article/maintenance-release-godot-3-5-3.md
  storage/blog/covers/maintenance-release-godot-3-5-3.webp
Labels: enhancement, topic:content, topic:releases, topic:blog
