Repository godotengine/godot-website, pull requests merged in 2023-12, with the labels that each got.

#760 Set the GodotCon 2023 event as passed
  collections/_event/godotcon-2023.md
Labels: topic:content

#762 Introduce new Godot forum
  _data/authors.yml
  assets/images/authors/winston.png
  collections/_article/introducing-new-forum.md
  storage/blog/covers/introducing-new-forum.webp
  storage/blog/introducing-new-forum/example-import.webp
  storage/blog/introducing-new-forum/example-link-syntax.webp
Labels: topic:blog

#765 Release Godot 4.2.1 stable and publish release notes
  _data/versions.yml
  collections/_article/maintenance-release-godot-4-2-1.md
  storage/blog/covers/maintenance-release-godot-4-2-1.webp
Labels: topic:blog

#767 Add blog post announcing collaboration with Google and The Forge
  collections/_article/collaboration-with-google-forge-2023.md
  storage/blog/covers/android-and-vulkan.webp
Labels: topic:blog

#770 Link to up-to-date information in per-instance uniforms article
  collections/_article/godot-40-gets-global-and-instance-shader-uniforms.md
Labels: topic:blog

#772 Add an article about project communications
  _data/authors.yml
  assets/images/authors/nathalie.jpg
  collections/_article/communications-update-2023.md
  storage/blog/covers/comms-update-18122023.jpg
Labels: topic:blog

#754 Update C# platform support notice for Godot 4.2
  pages/features.html
  pages/home.html
Labels: enhancement, topic:content

#774 Fix broken Troubleshooting docs URL on download pages
  collections/_download/android.md
  collections/_download/linux.md
  collections/_download/macos.md
  collections/_download/windows.md
  collections/_download_3/android.md
  collections/_download_3/linux.md
  collections/_download_3/macos.md
  collections/_download_3/server.md
  collections/_download_3/windows.md
Labels: bug, topic:content

#775 Release Godot 4.3 dev 1 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-3-dev-1.md
  collections/_article/maintenance-release-godot-4-2-1.md
  storage/blog/covers/dev-snapshot-godot-4-3-dev-1.webp
Labels: topic:content, topic:blog
