Repository godotengine/godot-website, pull requests merged in 2023-07, with the labels that each got.

#663 Release Godot 4.1 RC 3 and publish release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-1-rc-2.md
  collections/_article/release-candidate-godot-4-1-rc-3.md
  storage/blog/covers/release-candidate-godot-4-1-rc-3.webp
Labels: topic:content, topic:blog

#664 Update the Teams page with current/active members
  pages/teams.html
Labels: topic:content

#665 Add godot 4.1 release post
  _data/authors.yml
  _data/versions.yml
  collections/_article/godot-4-1-is-here.md
  storage/blog/covers/godot-4-1-is-here.webp
  storage/blog/godot-4-1-is-here/detached-code-editor.png
  storage/blog/godot-4-1-is-here/editor-exported-node-array.png
  storage/blog/godot-4-1-is-here/editor-project-manager-tags.png
  storage/blog/godot-4-1-is-here/gdextension-visual-shader-node.png
  storage/blog/godot-4-1-is-here/gdscript-docs-generation.png
  storage/blog/godot-4-1-is-here/gdscript-static-variables.png
  storage/blog/godot-4-1-is-here/model-facing-back.webp
  storage/blog/godot-4-1-is-here/model-facing-front.webp
  storage/blog/godot-4-1-is-here/navigation-3d-layers.png
  storage/blog/godot-4-1-is-here/navigation-priority.png
  storage/blog/godot-4-1-is-here/render-3d-noise.png
  storage/blog/godot-4-1-is-here/render-particles-turbulence.png
  storage/blog/godot-4-1-is-here/shader-cache-setting.png
  storage/blog/godot-4-1-is-here/threaded-node-properties-highlighted.png
Labels: topic:content, topic:blog

#666 Update poll 2023 page to link to the results
  collections/_article/godot-community-poll-2023.md
Labels: topic:blog

#670 Add Godot Funding Breakdown & Hiring Process article
  _data/authors.yml
  assets/images/authors/foundation.png
  collections/_article/funding-breakdown-and-hiring-process.md
  storage/blog/covers/funding-breakdown-and-hiring-process.webp
Labels: topic:blog

#668 Release Godot 4.1.1 RC1 and public release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-1-1-rc-1.md
  storage/blog/covers/release-candidate-godot-4-1-1-rc-1.webp
Labels: topic:content, topic:blog

#674 Fix grammar in funding blog
  collections/_article/funding-breakdown-and-hiring-process.md
Labels: topic:blog

#675 Fix grammar in 411rc1 blog
  collections/_article/release-candidate-godot-4-1-1-rc-1.md
Labels: bug, topic:blog

#679 Add Godot Con 2023 announcement article
  collections/_article/godotcon-2023.md
  collections/_event/godotcon-2023.md
  storage/blog/covers/godotcon-2023.webp
Labels: topic:blog

#680 Release Godot 4.2 dev1 and publish release notes
  _data/mirrorlist_configs.yml
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-2-dev-1.md
  collections/_article/release-candidate-godot-4-1-1-rc-1.md
  storage/blog/covers/dev-snapshot-godot-4-2-dev-1.webp
Labels: topic:blog

#671 Add notice about C# support being limited to desktop platforms
  pages/features.html
  pages/home.html
Labels: enhancement, topic:content

#682 Release 4.0.4 RC1 and publish release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-0-4-rc-1.md
  collections/_article/release-candidate-godot-4-1-1-rc-1.md
  storage/blog/covers/release-candidate-godot-4-0-4-rc-1.webp
Labels: topic:content, topic:blog

#685 Remove mention of SFC from privacy policy as Godot is no longer a member project
  pages/privacy-policy.html
Labels: topic:content

#686 Release 4.2 dev2 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-1-dev-2.md
  collections/_article/dev-snapshot-godot-4-2-dev-2.md
  collections/_article/release-candidate-godot-4-1-rc-1.md
  storage/blog/covers/dev-snapshot-godot-4-2-dev-2.webp
Labels: topic:content, topic:blog
