Repository godotengine/godot-website, pull requests merged in 2024-11, with the labels that each got.

#952 Add first draft of 4.4-dev4 article
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-4-dev-4.md
  storage/blog/covers/dev-snapshot-godot-4-4-dev-4.webp
  storage/blog/dev-snapshot-godot-4-4-dev-4/game-editor-debug.mp4
  storage/blog/dev-snapshot-godot-4-4-dev-4/physics-placement.mp4
Labels: topic:blog

#953 Add GodotCon 24 Review
  collections/_article/review-godotcon24.md
  storage/blog/covers/godotcon-2024-post.webp
  storage/blog/godotcon24/aws.webp
  storage/blog/godotcon24/backstage.webp
  storage/blog/godotcon24/block-coding.webp
  storage/blog/godotcon24/bug-off.webp
  storage/blog/godotcon24/canvas.webp
  storage/blog/godotcon24/data-garden.webp
  storage/blog/godotcon24/dung-slinger.webp
  storage/blog/godotcon24/fog-piercer.webp
  storage/blog/godotcon24/goodie-bag.webp
  storage/blog/godotcon24/immersive-home.webp
  storage/blog/godotcon24/in-good-faith.webp
  storage/blog/godotcon24/keep-out.webp
  storage/blog/godotcon24/looking-up.webp
  storage/blog/godotcon24/one-pc-jam.webp
  storage/blog/godotcon24/poki.webp
  storage/blog/godotcon24/pvkk.webp
  storage/blog/godotcon24/robot-detour.webp
  storage/blog/godotcon24/voice-of-flowers.webp
  storage/blog/godotcon24/w4-games.webp
  storage/blog/godotcon24/window-arcade.webp
Labels: topic:blog

#958 Add Code of Conduct team section in the contact page
  pages/contact.html
Labels: enhancement, topic:content

#957 Remove PLC reference from the contact page
  pages/contact.html
Labels: bug, topic:content

#964 Change the default address to 127.0.0.1 for build-and-serve script
  build-and-serve.sh
Labels: bug, topic:backend

#966 Add statement on GodLoader malware loader
  _data/authors.yml
  _layouts/article.html
  assets/css/main.scss
  assets/images/authors/security_team.webp
  collections/_article/statement-on-godloader-malware-loader.md
  collections/_download/macos.md
  collections/_download_3/macos.md
  storage/blog/covers/statement-on-godloader-malware-loader.webp
Labels: topic:blog
