Repository godotengine/godot-website, pull requests merged in 2024-01, with the labels that each got.

#780 Add new rendering priorities post for January 2024
  collections/_article/rendering-priorities-january-2024.md
  storage/blog/covers/rendering-priorities-jan-2024.webp
Labels: topic:blog

#783 Update links to forum on Contact page
  pages/contact.html
Labels: enhancement, topic:content

#787 Add coordinates for Godot {Toronto, Québec}
  _data/communities.yml
Labels: enhancement, topic:content

#786 Fix missing communities on the map in user groups page
  _data/communities.yml
  pages/community/user-groups.html
Labels: bug, topic:content, confirmed

#788 Release Godot 3.6 beta 4 and publish release notes
  _data/versions.yml
  collections/_article/dev-snapshot-godot-3-6-beta-4.md
  storage/blog/covers/dev-snapshot-godot-3-6-beta-4.webp
Labels: enhancement, topic:blog

#771 Add blog post about the current C# platform support in 4.2
  collections/_article/platform-state-in-csharp-for-godot-4-2.md
  storage/blog/covers/progress-update-csharp-2.webp
Labels: topic:blog

#789 Release Godot 4.1.4 RC1 and Godot 4.2.2 RC1, and publish release notes
  _data/versions.yml
  collections/_article/release-candidate-godot-4-1-4-and-4-2-2-rc-1.md
  storage/blog/covers/release-candidate-godot-4-1-4-and-4-2-2-rc-1.webp
Labels: topic:content, topic:blog

#790 Add Boston Godot Developers Group
  _data/communities.yml
Labels: topic:content

#791 Add Nat's January Jams blog post
  _layouts/article.html
  assets/css/main.css
  collections/_article/january-jams-2024.md
  storage/blog/covers/godot-jam.webp
Labels: topic:blog
