Repository godotengine/godot-website, pull requests merged in 2024-12, with the labels that each got.

#940 Add Foundation update blog post
  collections/_article/godot-foundation-update-dec-2024.md
  storage/blog/covers/godot-foundation-update-2024.webp
Labels: topic:blog

#970 CI: Bump checkout actions
  .github/workflows/build-pr.yml
  .github/workflows/build-website.yml
Labels: enhancement

#972 Add "Beyond #100000: You're breathtaking!"
  _layouts/article.html
  _layouts/default.html
  assets/css/article-cards.css
  assets/css/main.scss
  collections/_article/beyond-100000-you-re-breathtaking.md
  storage/blog/beyond-100000-you-re-breathtaking/cozy-space-survivors.webm
  storage/blog/beyond-100000-you-re-breathtaking/godot-1-0.webp
  storage/blog/beyond-100000-you-re-breathtaking/godot-4-3.webp
  storage/blog/beyond-100000-you-re-breathtaking/issue-history.webp
  storage/blog/beyond-100000-you-re-breathtaking/pull-request-history.webp
  storage/blog/covers/beyond-100000-you-re-breathtaking.webp
Labels: topic:blog

#974 Fix info-card dark mode colors
  _layouts/default.html
  assets/css/main.scss
Labels: bug, topic:theme

#975 Deleted one of Iran's communities due to inaccessibility
  _data/communities.yml
Labels: bug, topic:content

#978 Add Godot Game Awards post
  collections/_article/godot-game-awards-stayathomedev.md
  storage/blog/covers/godot-awards-stayathomedev.webp
Labels: topic:blog

#951 Add blog post about Godot XR Community developments in 2024
  collections/_article/godot-xr-community-nov-2024.md
  storage/blog/covers/december-2024-update-godot-xr-community.webp
Labels: topic:blog
