Repository godotengine/godot-website, pull requests merged in 2024-04, with the labels that each got.

#825 Add the GDC 2024: Retrospective blog post
  collections/_article/gdc-2024-retrospective.md
  storage/blog/covers/gdc-2024-retrospective.jpg
  storage/blog/gdc/2024/booth.png
  storage/blog/gdc/2024/collage.png
Labels: topic:blog

#827 Revert press images back to PNGs
  assets/press/icon_color.png
  assets/press/icon_color.webp
  assets/press/icon_color_outline.png
  assets/press/icon_color_outline.webp
  assets/press/icon_monochrome_dark.png
  assets/press/icon_monochrome_dark.webp
  assets/press/icon_monochrome_light.png
  assets/press/icon_monochrome_light.webp
  assets/press/logo_large_color_dark.png
  assets/press/logo_large_color_dark.webp
  assets/press/logo_large_color_light.png
  assets/press/logo_large_color_light.webp
  assets/press/logo_large_monochrome_dark.png
  assets/press/logo_large_monochrome_dark.webp
  assets/press/logo_large_monochrome_light.png
  assets/press/logo_large_monochrome_light.webp
  assets/press/logo_small_color_dark.png
  assets/press/logo_small_color_dark.webp
  assets/press/logo_small_color_light.png
  assets/press/logo_small_color_light.webp
  assets/press/logo_small_monochrome_dark.png
  assets/press/logo_small_monochrome_dark.webp
  assets/press/logo_small_monochrome_light.png
  assets/press/logo_small_monochrome_light.webp
  assets/press/logo_vertical_color_dark.png
  assets/press/logo_vertical_color_dark.webp
  assets/press/logo_vertical_color_light.png
  assets/press/logo_vertical_color_light.webp
  assets/press/logo_vertical_monochrome_dark.png
  assets/press/logo_vertical_monochrome_dark.webp
  assets/press/logo_vertical_monochrome_light.png
  assets/press/logo_vertical_monochrome_light.webp
  pages/press.html
Labels: enhancement, topic:content

#829 Edit title to better fit the current marketing
  pages/home.html
Labels: enhancement

#830 Add release post for 4.1.4 and 4.2.2 RC3
  _data/versions.yml
  _includes/articles/prerelease_notice.html
  collections/_article/dev-snapshot-godot-4-2-dev-1.md
  collections/_article/dev-snapshot-godot-4-2-dev-2.md
  collections/_article/dev-snapshot-godot-4-2-dev-3.md
  collections/_article/dev-snapshot-godot-4-2-dev-4.md
  collections/_article/dev-snapshot-godot-4-2-dev-5.md
  collections/_article/dev-snapshot-godot-4-2-dev-6.md
  collections/_article/dev-snapshot-godot-4-3-dev-1.md
  collections/_article/dev-snapshot-godot-4-3-dev-2.md
  collections/_article/dev-snapshot-godot-4-3-dev-3.md
  collections/_article/dev-snapshot-godot-4-3-dev-4.md
  collections/_article/dev-snapshot-godot-4-3-dev-5.md
  collections/_article/release-candidate-godot-4-1-2-rc-1.md
  collections/_article/release-candidate-godot-4-1-3-rc-1.md
  collections/_article/release-candidate-godot-4-1-4-and-4-2-2-rc-1.md
  collections/_article/release-candidate-godot-4-1-4-and-4-2-2-rc-2.md
  collections/_article/release-candidate-godot-4-1-4-and-4-2-2-rc-3.md
  collections/_article/release-candidate-godot-4-2-1-rc-1.md
  storage/blog/covers/release-candidate-godot-4-1-4-and-4-2-2-rc-3.webp
Labels: enhancement, topic:blog

#837 Release 4.2.2 and 4.1.4 stable
  _data/versions.yml
  collections/_article/maintenance-release-godot-4-2-2-and-4-1-4.md
  collections/_article/release-candidate-godot-4-1-4-and-4-2-2-rc-3.md
  storage/blog/covers/maintenance-release-godot-4-2-2-and-4-1-4.webp
Labels: enhancement, topic:blog

#836 Add blog post about the collaboration with Google and The Forge
  collections/_article/update-on-google-forge-2024.md
  storage/blog/covers/godot-and-android-and-vulkan.webp
Labels: topic:blog

#834 Add blog post about reverse z breaking changes
  collections/_article/introducing-reverse-z.md
  storage/blog/covers/introducing-reverse-z.webp
Labels: topic:blog
