Repository godotengine/godot-website, pull requests merged in 2025-01, with the labels that each got.

#993 Add blog post about UID changes coming to Godot 4.4
  collections/_article/uid-changes-coming-to-godot-4-4.md
  storage/blog/covers/uid-changes-coming-to-godot-4-4.webp
Labels: topic:blog

#989 Add excerpt/short brief to rss.xml
  pages/rss.xml
Labels: enhancement, topic:backend, topic:blog

#991 Add 4.4 beta 1 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-4-beta-1.md
  storage/blog/covers/dev-snapshot-godot-4-4-beta-1.webp
  storage/blog/godot-4-4-beta-1/embedded-editor.webp
  storage/blog/godot-4-4-beta-1/lightmap-color.webp
  storage/blog/godot-4-4-beta-1/particle-emission.webm
  storage/blog/godot-4-4-beta-1/reflection-probes.webp
  storage/blog/godot-4-4-beta-1/springbone.webm
  storage/blog/godot-4-4-beta-1/tonemap.webp
Labels: topic:blog

#995 Update CSGMesh3D manifold definition.
  collections/_article/dev-snapshot-godot-4-4-beta-1.md
Labels: topic:blog

#996 Link to UID changes blog post in 4.4.beta1 post
  collections/_article/dev-snapshot-godot-4-4-beta-1.md
Labels: topic:blog

#1001 Fix Godot 4.4-beta1 showing as released in 2024
  _data/versions.yml
Labels: bug

#1002 Godotcon 2025 - CfP
  collections/_article/godotcon-2025.md
  storage/blog/covers/godotcon-boston-2025.webp
Labels: topic:blog

#985 2024 in review blogpost
  collections/_article/2024-cherry-picks.md
  storage/blog/2024-cherry-picks/2024-cherry-picks.webp
  storage/blog/2024-cherry-picks/Arctic Eggs.webp
  storage/blog/2024-cherry-picks/Backpack Battles.webp
  storage/blog/2024-cherry-picks/Ballionaire.webp
  storage/blog/2024-cherry-picks/Forgotten Mines.webp
  storage/blog/2024-cherry-picks/Halls of Torment.webp
  storage/blog/2024-cherry-picks/KinitoPET.webp
  storage/blog/2024-cherry-picks/Megaloot.webp
  storage/blog/2024-cherry-picks/Of Life and Land.webp
  storage/blog/2024-cherry-picks/Psychopomp GOLD.webp
  storage/blog/2024-cherry-picks/Unrailed 2 Back on Track.webp
  storage/blog/2024-cherry-picks/Until Then.webp
  storage/blog/2024-cherry-picks/Windowkill.webp
  storage/blog/2024-cherry-picks/commit.webp
  storage/blog/2024-cherry-picks/gdc.webp
  storage/blog/2024-cherry-picks/plush.webp
  storage/blog/2024-cherry-picks/poll1.webp
  storage/blog/2024-cherry-picks/poll2.webp
Labels: topic:blog
