Repository godotengine/godot-website, pull requests merged in 2025-02, with the labels that each got.

#1007 Add 4.4 beta 3 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-4-beta-3.md
  storage/blog/covers/dev-snapshot-godot-4-4-beta-3.webp
Labels: topic:blog

#1012 Add 4.4 beta 4 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-4-beta-4.md
  storage/blog/covers/dev-snapshot-godot-4-4-beta-4.webp
Labels: topic:blog

#1014 Add 4.4 RC 1 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-4-beta-2.md
  collections/_article/dev-snapshot-godot-4-4-beta-3.md
  collections/_article/dev-snapshot-godot-4-4-beta-4.md
  collections/_article/dev-snapshot-godot-4-4-dev-5.md
  collections/_article/release-candidate-godot-4-4-rc-1.md
  storage/blog/covers/release-candidate-godot-4-4-rc-1.webp
Labels: topic:blog

#1008 Improve footer text readability
  _sass/_footer.scss
Labels: enhancement, topic:theme

#1015 Add MoaT blog post
  collections/_article/museum-of-all-things.md
  storage/blog/covers/moat_logo_large_colorful_over_screenshot.webp
  storage/blog/moat/chongqing.webp
  storage/blog/moat/geometry.webp
  storage/blog/moat/peach.webp
  storage/blog/moat/vr-lobby.webp
Labels: topic:blog

#1016 Add 4.4 RC 2 blog post
  _data/versions.yml
  collections/_article/release-candidate-godot-4-4-rc-2.md
  storage/blog/covers/release-candidate-godot-4-4-rc-2.webp
Labels: topic:blog

#1011 Add localization plugin and initial `es` translation
  Gemfile.lock
  _config.yml
  _i18n/en.yml
  _i18n/es.yml
  _includes/footer.html
  _includes/header.html
  _includes/sponsors.html
  _layouts/default.html
  _plugins/localize.rb
  assets/css/header.css
  assets/css/main.scss
  assets/css/transparent-nav.scss
  assets/icons/language-light.svg
  assets/icons/language.svg
  assets/js/localize.js
  pages/home.html
Labels: topic:backend, topic:content

#1018 Add French localization
  _i18n/fr.yml
  assets/js/localize.js
  pages/home.html
Labels: enhancement, topic:i18n
