Repository godotengine/godot-website, pull requests merged in 2025-06, with the labels that each got.

#1073 Add 4.5-dev5 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-5-dev-5.md
  storage/blog/covers/dev-snapshot-godot-4-5-dev-5.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/abstract-derived.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/abstract-error.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/bent-normals-after-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/bent-normals-after-2.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/bent-normals-after-3.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/bent-normals-before-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/bent-normals-before-2.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/bent-normals-before-3.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/inline-color-picker.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/shader-baker-after.webm
  storage/blog/dev-snapshot-godot-4-5-dev-5/shader-baker-before.webm
  storage/blog/dev-snapshot-godot-4-5-dev-5/shader-baker.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/smaa-off-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/smaa-off-2.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/smaa-on-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-5/smaa-on-2.webp
Labels: topic:releases, topic:blog

#1063 Add "Upcoming (serious) Web performance boost" article
  assets/images/authors/adamscott.webp
  collections/_article/upcoming-serious-web-performance-boost.md
  storage/blog/covers/upcoming-serious-web-performance-boost.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-chromium134-3times-with-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-chromium134-3times-without-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-chromium134-6times-with-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-chromium134-6times-without-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-firefox138-3times-with-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-firefox138-3times-without-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-firefox138-6times-with-wasm-simd.webp
  storage/blog/upcoming-web-serious-performance-boost/calinou-firefox138-6times-without-wasm-simd.webp
Labels: topic:blog

#1065 Add automatic browser language selector
  _includes/header.html
Labels: enhancement, topic:i18n

#1085 Add Consoles page
  _i18n/de.yml
  _i18n/en.yml
  _i18n/es.yml
  _i18n/fr.yml
  _i18n/ja.yml
  _i18n/ko.yml
  _i18n/zh-cn.yml
  _i18n/zh-tw.yml
  _includes/footer.html
  _includes/header.html
  assets/css/header.css
  assets/images/consoles/consoles-hero.svg
  assets/images/consoles/lone-wolf.png
  assets/images/consoles/mazette-games.png
  assets/images/consoles/olde-skuul.png
  assets/images/consoles/pineapple-works.png
  assets/images/consoles/rawrlab-games.png
  assets/images/consoles/seaven-studio.png
  assets/images/consoles/sickhead-games.png
  assets/images/consoles/tuanis-apps.png
  assets/images/consoles/w4-games.png
  pages/consoles.html
Labels: enhancement, topic:content

#1090 Fix 4.3 and 4.4 release pages
  _includes/footer.html
  assets/js/modules/anime@4.0.2_esm.js
  assets/js/modules/anime@4.0.2_esm.min.js
  assets/js/modules/gsap@3.12.5.min.mjs
  assets/js/modules/gsap@3.12.5_ScrollTrigger.min.mjs
  assets/js/releases/4.3.mjs
  assets/js/releases/4.4.mjs
Labels: bug, topic:releases

#1103 Fix dotnet download button being too pale on the release pages
  assets/css/releases/4.3.scss
  assets/css/releases/4.4.scss
Labels: bug, topic:releases

#1107 Add new `get_latest_patch` filter to update release download version
  _plugins/version_filter.rb
  pages/releases/4.3.html
  pages/releases/4.4.html
Labels: bug, topic:backend, topic:releases

#1109 Community poll 2025
  collections/_article/godot-community-poll-2025.md
  storage/blog/covers/godot_peluche_2025_5.webp
Labels: topic:blog
