Repository godotengine/godot-website, pull requests merged in 2025-05, with the labels that each got.

#1054 Showcase for the Somar Project
  collections/_article/godot-showcase-somar.md
  storage/blog/covers/godot-showcase-the-somar-project.webp
  storage/blog/godot-xr/somar-showcase/somar-boats-dolphins.webp
  storage/blog/godot-xr/somar-showcase/somar-info-panels.webp
  storage/blog/godot-xr/somar-showcase/somar-orca.webp
  storage/blog/godot-xr/somar-showcase/somar-selection-menu.webp
  storage/blog/godot-xr/somar-showcase/somar-whale.webp
Labels: topic:blog

#1059 Add Live from GodotCon Boston Web .NET prototype blogpost
  collections/_article/live-from-godotcon-boston-web-dotnet-prototype.md
  storage/blog/covers/live-from-godotcon-boston-web-net-prototype.webp
Labels: topic:blog

#1062 Add 4.5-dev4 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-5-dev-4.md
  storage/blog/covers/dev-snapshot-godot-4-5-dev-4.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/3d-fti-scenetree.webm
  storage/blog/dev-snapshot-godot-4-5-dev-4/export-variant.webm
  storage/blog/dev-snapshot-godot-4-5-dev-4/macos-embedded-window.webm
  storage/blog/dev-snapshot-godot-4-5-dev-4/specular-disabled-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/specular-disabled-2.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/specular-disabled-3.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/specular-enabled-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/specular-enabled-2.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/specular-enabled-3.webp
  storage/blog/dev-snapshot-godot-4-5-dev-4/stacked-outlines.webp
Labels: topic:releases, topic:blog

#1066 Fix typo with Frédéric Plourde's name
  collections/_article/godot-showcase-somar.md
Labels: bug, topic:i18n

#1067 Add Godot Meetup Argentina to communities.yml
  _data/communities.yml
Labels: enhancement, topic:content

#1064 Add Japanese translation from Darin Bifani
  _i18n/ja.yml
  _includes/footer.html
  pages/home.html
Labels: topic:i18n

#1071 Add missing copyright Japanese translation.
  _i18n/ja.yml
Labels: bug, topic:i18n
