Repository godotengine/godot-website, pull requests merged in 2025-09, with the labels that each got.

#1156 Add 4.5-rc1 blog post
  _data/versions.yml
  collections/_article/release-candidate-godot-4-5-rc-1.md
  storage/blog/covers/release-candidate-godot-4-5-rc-1.webp
Labels: topic:releases, topic:blog

#1149 Re-link contributing links to the new contributing documentation.
  README.md
  _includes/header.html
  _layouts/download.html
  collections/_article/80-funded-celebrating-patreon-rewards-upgrade.md
  collections/_article/become-godot-contributor-hacktoberfest-2018.md
  collections/_article/bugs-lets-catch-em-all-saturday.md
  collections/_article/dev-snapshot-godot-4-3-dev-1.md
  collections/_article/dev-snapshot-godot-4-3-dev-3.md
  collections/_article/dev-snapshot-godot-4-5-beta-1.md
  collections/_article/fill-blank-class-reference.md
  collections/_article/first-godot-3-docs-sprint-sept-9.md
  collections/_article/godot-3-0-released.md
  collections/_article/godot-3-2-docs-sprint.md
  collections/_article/godot-4-0-development-enters-feature-freeze.md
  collections/_article/godot-4-0-docs-sprint.md
  collections/_article/godot-docs-improvements-report.md
  collections/_article/godot-getting-more-languages.md
  collections/_article/hero-wanted-31-version.md
  collections/_article/rendering-priorities-january-2024.md
  collections/_article/upcoming-serious-web-performance-boost.md
  collections/_article/will-your-contribution-be-merged-heres-how-tell.md
  pages/governance.html
  pages/home.html
  pages/priorities/index.html
Labels: enhancement, topic:content

#1098 Add blog post on ensuring quality in the Godot documentation
  collections/_article/ensuring-quality-godot-documentation.md
  storage/blog/covers/ensuring-quality-godot-documentation.webp
  storage/blog/ensuring-quality-godot-documentation/doc-status.webp
  storage/blog/ensuring-quality-godot-documentation/hosted-weblate.webp
  storage/blog/ensuring-quality-godot-documentation/team-reports.webp
  storage/blog/ensuring-quality-godot-documentation/user-notes.webp
Labels: topic:blog

#1172 Add details on documentation i18n in recent blog post
  collections/_article/ensuring-quality-godot-documentation.md
Labels: bug, topic:blog

#1180 Add 4.6-dev1 blog post
  _data/mirrorlist_configs.yml
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-6-dev-1.md
  storage/blog/covers/dev-snapshot-godot-4-6-dev-1.webp
  storage/blog/dev-snapshot-godot-4-6-dev-1/drag-and-drop-export.mp4
  storage/blog/dev-snapshot-godot-4-6-dev-1/theme-swap-no-reset.mp4
Labels: topic:releases, topic:blog
