Repository godotengine/godot-website, pull requests merged in 2025-07, with the labels that each got.

#1115 Add 4.5-beta3 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-5-beta-3.md
  storage/blog/covers/dev-snapshot-godot-4-5-beta-3.webp
Labels: topic:releases, topic:blog

#1118 Add Norway user group
  _data/communities.yml
Labels: enhancement, topic:content

#1119 Add Dogwalk interview and page to showcase
  assets/showcase/dogwalk/dogwalk-1.jpg
  assets/showcase/dogwalk/dogwalk-2.jpg
  assets/showcase/dogwalk/dogwalk-3.jpg
  assets/showcase/dogwalk/dogwalk-4.jpg
  assets/showcase/dogwalk/dogwalk-5.jpg
  assets/showcase/dogwalk/dogwalk-6.jpg
  assets/showcase/dogwalk/dogwalk-7.jpg
  assets/showcase/dogwalk/dogwalk-8.jpg
  assets/showcase/dogwalk/header.webp
  assets/showcase/dogwalk/thumbnail.jpeg
  collections/_article/godot-showcase-dogwalk.md
  collections/_showcase/brotato.md
  collections/_showcase/dogwalk.md
  collections/_showcase/dome-keeper.md
Labels: topic:content, topic:blog

#1099 Add blog post about Godot OpenXR Vendors 4.0.0 release
  _data/authors.yml
  assets/images/authors/dsnopek.webp
  collections/_article/godot-openxr-vendors-plugin-400.md
  storage/blog/covers/godot-openxr-vendors-plugin-400.webp
  storage/blog/godot-openxr-vendors-400/godot-openxr-vendors-extension-settings.webp
  storage/blog/godot-openxr-vendors-400/meta-xr-dynamic-resolution.webp
  storage/blog/godot-openxr-vendors-400/meta-xr-environment-depth.webm
Labels: topic:blog

#1126 Update the Consoles page
  pages/consoles.html
Labels: enhancement, topic:content

#1129 Add 4.5-beta4 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-5-beta-4.md
  storage/blog/covers/dev-snapshot-godot-4-5-beta-4.webp
Labels: topic:releases, topic:blog
