Repository godotengine/godot-website, pull requests merged in 2025-03, with the labels that each got.

#937 Download: Add link for Horizon Store app on stable release
  collections/_download/android.md
Labels: enhancement, topic:content

#1027 Add 4.4 banner to the main page.
  _includes/header.html
  assets/css/header.css
  assets/css/main.scss
Labels: enhancement, topic:theme

#1024 Add German translation
  _i18n/de.yml
  pages/home.html
Labels: enhancement, topic:i18n

#1033 Fixes some issues with the 4.4 release page
  _includes/thankyou.html
  _layouts/download.html
  assets/css/releases/4.4.noscript.scss
  assets/css/releases/4.4.scss
  assets/js/releases/4.4.mjs
  pages/releases/4.4.html
Labels: bug, enhancement, topic:releases

#1009 Godot XR update for Feb 2025
  collections/_article/godot-xr-update-feb-2025.md
  storage/blog/covers/february-2025-update-godot-xr-community.webp
  storage/blog/godot-xr/enable_toolkit.webp
  storage/blog/godot-xr/xr_simulator_tool.webp
Labels: topic:blog

#1032 Update zh-cn.yml
  _i18n/zh-cn.yml
Labels: enhancement, topic:i18n

#1039 Add 4.5-dev1 blog post
  _data/versions.yml
  collections/_article/dev-snapshot-godot-4-5-dev-1.md
  storage/blog/covers/dev-snapshot-godot-4-5-dev-1.webp
  storage/blog/dev-snapshot-godot-4-5-dev-1/chunk-tilemap.webm
  storage/blog/dev-snapshot-godot-4-5-dev-1/multiple-nodes.webm
  storage/blog/dev-snapshot-godot-4-5-dev-1/mute-toggle.webm
  storage/blog/dev-snapshot-godot-4-5-dev-1/preload-uid.webm
Labels: topic:releases, topic:blog

#1041 Fix download card donate link color on light theme
  assets/css/article-cards.css
Labels: bug, topic:theme

#1034 add FFM/Rhein-Main user group
  _data/communities.yml
Labels: enhancement, topic:content

#1038 Add experimental download links to Download page and download secton
  _includes/download/download-section.html
  _layouts/download.html
Labels: enhancement, topic:content

#1044 Fix light theme text display on Showcase page
  pages/showcase/showcase.scss
Labels: bug, topic:theme

#1042 Godot XR Community update March 2025 - Godot XR Game Jam III
  collections/_article/godot-xr-update-mar-2025.md
  storage/blog/covers/march-2025-update-godot-xr-community.webp
Labels: topic:blog
